/*Fonts*/

/* *{
    color: #FAFAFA;
} */

/*Homepage Fonts*/
/*Heading Font*/
h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 72pt;
    color: #FAFAFA;
}
/*Section Heading Font*/
h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 24pt;
    color: #FAFAFA;
}
/*Subsection Heading Font*/
h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 16pt;
    color: #FAFAFA;
}
/*Font size for links*/
h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 14pt;
    color: #FAFAFA;
}
/*Font for About Me text*/
h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 12pt;
    color: #FAFAFA;
}

/*Blog Post Fonts*/
/*Blog Titles*/
h6 {
    font-family: 'Open Sans', sans-serif;
    font-size: 36pt;
    color: #120016;
    padding-top: 0.5in;
}
/*Subsections*/
/*Paragraph Text Font*/
p {
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
    color: #120016;
}


/*Stuff to overlay text on the cover image*/
.post-content {
    /* background: none repeat scroll 0 0 #FFFFFF; */
    opacity: 1;
    top: 125px;
    left: 0;
    position: absolute;
}
.thumbnail {
    position: relative;
}


/*Font color for Links*/
a:link {
    color: #FFB9BB;
    text-decoration: none;
}
a:visited {
    color: #FFB9BB;
    text-decoration: none;
}


/*Specifications for the Navigation Bar*/
.topnav a{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    float: left;
    color: #FAFAFA;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #744186;
    color: #120016;
}
.topnav a:active {
    background-color: #744186;
    color: #120016;
}


div.Latest_Post {
    text-align: center;
}
