/*Fonts*/

@font-face {
    font-family: Roboto-Light;
    src: url(Roboto/Roboto-Light.ttf);
}

/*Heading Font*/
h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 38px;
}
/*Section Heading Font*/
h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 29px;
}
/*Subsection Heading Font*/
h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 18;
}
/*Font size for links*/
h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 16;
}
/*Paragraph Text Font*/
p {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 14px;
}

/*Font color for Links*/
a:link {
    color: #FFB9BB
}
a:visited {
    color: #FFB9BB
}


/*Specifications for the Navigation Bar*/
.topnav a{
    font-family: 'Roboto', sans-serif;
    float: right;
    color: #FAFAFA;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #744186;
    color: #120016;
}
.topnav a:active {
    background-color: #744186;
    color: #120016;
}


/*Setting the width of the homepage sections*/
/*Heading Width*/
div.Heading {
    width: 300px;
}
/*About Me Section*/
div.About_Me {
    width: 300px;
}
/*Links Section*/
div.Links {
    width: 300px;
}


/*Latest Post Section*/
div.Latest_Post {
    width: 724px;
    background-color: #FAFAFA;
}
