/*Heading*/
/*Heading Font*/
h1 {
    font-family: 'Roboto_Light', sans-serif; 
}
/*Heading Width*/
div.Heading {
    width: 300px;
}

/*About Me Section*/
/*Font for the Heading*/
h2 {
    font-family: 'Roboto-Light', sans-serif;
}
/*Section Width*/
div.About_Me {
    width: 300px;
}

/*Links Section*/
/*Font for the List Titles*/
h3 {
}

/*Font size for paragraph text*/
p {
    font-family: 'Roboto-Light', sans-serif; font-size: 12px;
}
